@import "tailwindcss";
/* Aplicamos las fuentes globalmente */
@layer base {
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
  }
  body {
    font-family: 'Lato', sans-serif;
  }
}